$white: #FFF;
$black: #000;

$orange-saffron-mango: #F9BD58;

$gradient-happy-fisher: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);

$color-font-primary: $black;
$color-background: $gradient-happy-fisher;

