$white: #FFF;
$black: #000;

$grey: #8F8F8F;

$orange-saffron-mango: #F9BD58;

$blue-anakiwa: #89f7fe;
$blue-malibu: #66a6ff;

$gradient-happy-fisher: linear-gradient(120deg, $blue-anakiwa 0%, $blue-malibu 100%);

$color-font-primary: $black;
$color-background: $gradient-happy-fisher;

