@import '~styles/utils';

.ComputeHistory {
  position: fixed;
  @include z-index('nav');
  top: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  &__ToggleMenuIcon {
    position: fixed;
    @include z-index('nav', 1);
    top: 20px;
    right: 20px;
  }

  &__SearchBar {
    position: relative;
    @include z-index('nav', 1);
  }

  &__Logs {
  }
}
